In [1]:
import pandas as pd

In [2]:
iris=pd.read_csv('iris.csv')

In [3]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
y=iris[['sepal.length']]

In [5]:
x=iris[['petal.length']]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [8]:
from sklearn.tree import DecisionTreeRegressor

In [9]:
dtr=DecisionTreeRegressor()

In [10]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [12]:
y_pred=dtr.predict(x_test)

In [13]:
y_test.head()

    sepal.length
16           5.4
81           5.5
52           6.9
91           6.1
71           6.1

In [14]:
y_pred[0:5]

array([4.8       , 5.5       , 6.2       , 5.74285714, 5.76666667])