In [1]:
import pandas as pd

In [4]:
iris=pd.read_csv('iris.csv')

In [5]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
x=iris[['sepal.length']]

In [7]:
y=iris[['variety']]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
dtc=DecisionTreeClassifier()

In [12]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
y_pred=dtc.predict(x_test)

In [14]:
y_test.head()

        variety
3        Setosa
53   Versicolor
71   Versicolor
58   Versicolor
130   Virginica

In [15]:
y_pred[0:5]

array(['Setosa', 'Versicolor', 'Versicolor', 'Virginica', 'Virginica'],
      dtype=object)

In [16]:
from sklearn.metrics import confusion_matrix

In [17]:
confusion_matrix(y_test,y_pred)

array([[13,  1,  0],
       [ 4,  9,  7],
       [ 0,  3,  8]])

In [18]:
(13+9+8)/(13+1+0+4+9+7+0+3+8)

0.6666666666666666