In [1]:
import pandas as pd

In [2]:
boston=pd.read_csv('Boston.csv')

In [3]:
boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
y=boston[['medv']]

In [5]:
x=boston[['crim']]

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [9]:
lr=LinearRegression()

In [10]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
y_pred=lr.predict(x_test)

In [12]:
y_test.head()

     medv
17   17.5
81   23.9
182  37.9
209  20.0
339  19.0

In [13]:
y_pred[0:5]

array([[24.21914419],
       [24.54156894],
       [24.5213362 ],
       [24.37107069],
       [24.53705679]])

In [14]:
from sklearn.metrics import mean_squared_error

In [15]:
mean_squared_error(y_test,y_pred)

69.37281408583037

In [17]:
x=boston[['lstat']]

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [19]:
lr2=LinearRegression()

In [20]:
lr2.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
y_pred=lr2.predict(x_test)

In [22]:
y_test.head()

     medv
123  17.3
412  17.9
331  17.1
473  29.8
135  18.1

In [23]:
y_pred[0:5]

array([[10.48405279],
       [ 2.02909183],
       [22.73242258],
       [23.45902079],
       [18.4577604 ]])

In [24]:
mean_squared_error(y_test,y_pred)

31.150301902423376

In [25]:
x=boston[['indus']]

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [29]:
lr3=LinearRegression()

In [30]:
lr3.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
y_pred=lr3.predict(x_test)

In [33]:
y_test.head()

     medv
275  32.0
435  13.4
495  23.1
369  50.0
125  21.4

In [34]:
y_pred[0:5]

array([[25.65928802],
       [17.55757061],
       [23.38609443],
       [17.55757061],
       [12.32506706]])

In [35]:
mean_squared_error(y_test,y_pred)

75.36058148884587