In [1]:
import pandas as pd

In [4]:
customer=pd.read_csv('Customer-Churn.csv')

In [5]:
customer.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
x=customer[['tenure']]

In [7]:
y=customer[['Churn']]

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
log_model=LogisticRegression()

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35)

In [12]:
log_model.fit(x_train,y_train)

/home/gautam/.local/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
y_pred=log_model.predict(x_test)

In [21]:
y_test.head(20)

     Churn
4969    No
3331    No
2274   Yes
486     No
4815   Yes
5800    No
5340    No
158     No
266     No
4882    No
1371   Yes
1933    No
4524   Yes
1982    No
196     No
3281    No
5728   Yes
5261    No
4129    No
5862    No

In [22]:
y_pred[0:20]

array(['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'], dtype=object)

In [16]:
from sklearn.metrics import confusion_matrix

In [17]:
confusion_matrix(y_test,y_pred)

array([[1807,    0],
       [ 659,    0]])

In [20]:
(1807+0)/(1807+0+659+0)

0.7327656123276561